<div id="twoway">
    <div class="wrapper">
        <h3>Stats</h3>
        <p><strong>Morph gender:</strong> {{fields.gender}}</p>
        <p><strong>Morph species text:</strong> {{fields.species_text}}</p>
        <p><strong>Morph species category:</strong> {{fields.species_category}}</p>
        <p><strong>Morph owner:</strong> <a href="/~{{fields.user}}">{{fields.user}}</a></p>
        {{#if is_owner}}
            <p class="addLink"><a href="/morph/{{fields.id}}/edit">Edit this morph</a></p>
            <p class="addLink"><a id="attachImages" href="javascript:void(0)" onclick="App.imagesToAttachView.render();$('#imageBay').dialog(ibDialogOptions);">Attach image</a></p>
        {{/if}}
        <p class="small">Permalink: <a href="http://c.o-f.co/m/{{fields.id}}">http://c.o-f.co/m/{{fields.id}}</a></p>
    </div>
    <div class="wrapper">
        <h3>Descriptions</h3>
        {{#each descriptions}}
            <p>
                <a class="push" href="/description/{{this.id}}">{{this.name}}</a>
                {{#if ../is_owner}}
                    <a href="/description/{{this.id}}/delete"><img src="http://lib.jnsq.us/iconset/12x12/remove.png" class="icon" alt="Remove" /></a>
                {{/if}}
            </p>
        {{/each}}
        <hr />
        {{#if is_owner}}
            <p class="addLink"><a href="javascript:void(0)" onclick="$('#createDescription').dialog('open')"><img src="http://lib.jnsq.us/iconset/12x12/add.png" class="icon" /> Add description</a></p>
            <div id="createDescription" title="Create description">
                <form method="post" action="/description/create/">
                    <div class="ntn"></div>
                    <input id="morphidfld" type="hidden" name="morph" value="{{fields.id}}" />
                    <table>
                        <tr>
                            <th><label for="name">Name:</label></th>
                            <td><input type="text" name="name" /></td>
                        </tr>
                        <tr>
                            <th><label for="description">Description:</label></th>
                            <td><textarea rows="10" cols="50" name="description"></textarea></td>
                        </tr>
                        <tr>
                            <th><label for="rating">Rating:</label></th>
                            <td>
                                <select name="rating">
                                    <option value="G">General</option>
                                    <option value="M">Mature</option>
                                    <option value="R">Adult</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Create description" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        {{/if}}
    </div>
    <div id="imagesForItem"></div>
</div>
<script type="text/javascript">
    var ibDialogOptions = { 
        width: 300,
        height: 400,
        modal: true,
        autoOpen: true
    };
    $(document).ready(function() {
        $('.ntn').append($('#nnt').html());
        $('#createDescription').dialog({ 
            autoOpen: false,
            width: 600,
            height: 400,
            modal: true
        });
    });
</script>
