<div id="twoway">
    <div class="wrapper">
        <a href="{{fields.image}}"><img src="{{fields.image}}" style="max-width: 100%" /></a>
    </div>
    <div class="wrapper">
        <p><strong>Attribution:</strong> {{fields.attribution}}</p>
        <p><strong>Rating:</strong> {{fields.rating_display}}</p>
        <p><strong>Thumbnail:</strong> <img src="{{fields.thumbnail}}" style="vertical-align: top" />
        {{#if is_owner}}
            <p class="addLink"><a href="/image/{{fields.id}}/edit">Edit this image</a></p>
            <p class="addLink"><a href="/image/{{fields.id}}/delete">Delete this image</a></p>
        {{/if}}
        <p class="small">Permalink: <a href="http://c.o-f.co/i/{{fields.id}}">http://c.o-f.co/i/{{fields.id}}</a></p>
    </div>
</div>
