<div id="twoway">
    <div class="wrapper">
        <h3>Stats</h3>
        <p><strong>Character name:</strong> {{fields.name}}</p>
        <p><strong>Character owner:</strong> <a class="push" href="/~{{fields.user}}">~{{fields.user}}</a></p>
        {{#if is_owner}}
            <p class="addLink"><a href="/character/{{fields.id}}/edit">Edit this character</a></p>
            <p class="addLink"><a id="attachImages" href="javascript:void(0)" onclick="App.imagesToAttachView.render();$('#imageBay').dialog(ibDialogOptions);">Attach image</a></p>
        {{/if}}
        <p class="small">Permalink: <a href="http://c.o-f.co/c/{{fields.id}}">http://c.o-f.co/c/{{fields.id}}</a></p>
    </div>
    <div class="wrapper">
        <h3>Morphs</h3>
        {{#each morphs}}
            <p>
                <a class="push" href="/morph/{{this.id}}">{{this.name}}</a>
                {{#if ../is_owner}}
                    <a href="/morph/{{this.id}}/delete">[X]</a>
                {{/if}}
            </p>
        {{/each}}
        <hr />
        {{#if is_owner}}
            <p class="addLink"><a href="javascript:void(0)" onclick="$('#createMorph').dialog('open')">+ Add morph</a></p>
            <div id="createMorph" title="Create morph">
                <form method="post" action="/morph/create/">
                    <div class="ntn"></div>
                    <input id="charidfld" type="hidden" name="character" value="{{fields.id}}" />
                    <table>
                        <tr>
                            <th><label for="gender">Gender:</label></th>
                            <td>
                                <select id="gender-preselect">
                                    <option value="">-- Select --</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Herm">Herm</option>
                                    <option value="Other">Other...</option>
                                </select>
                                <input type="text" id="gender" name="gender" style="display: none" />
                            </td>
                        </tr>
                        <tr>
                            <th><label class="tipsify" title="This is just a generic category used for organization; feel free to specify whatever you want in 'species text'!" for="species_category">Species category</label></th>
                            <td id="sc"></td>
                        </tr>
                        <tr>
                            <th><label for="species_text">Species:</label></th>
                            <td><input type="text" name="species_text" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Create morph" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        {{/if}}
    </div>
    <div id="imagesForItem"></div>
</div>
<script type="text/javascript">
    var ibDialogOptions = { 
        width: 300,
        height: 400,
        modal: true,
        autoOpen: true
    };
    $(document).ready(function() {
        $('.ntn').append($('#nnt').html());
        $('#createMorph').dialog({ 
            autoOpen: false,
            width: 400,
            height: 250,
            modal: true
        });
        $('#gender-preselect').change(function(event) {
            var preselect = this;
            $('#gender').val($(preselect).val());
            if ($(preselect).val() == "Other") {
                $('#gender').show();
            } else {
                $('#gender').hide();
            }
        });
    });
</script>
