<div id="twoway">
    <div class="wrapper">
        <h3>Stats</h3>
        <p><strong>Username:</strong> {{fields.username}}</p>
        <p><strong>Name:</strong> {{fields.name}}</p>
        <p><strong>User since:</strong> {{fields.date_joined}}</p>
        <p><strong>Characters:</strong> {{characters.length}}</p>
        <p><strong>Morphs:</strong> {{morphs}}</p>
        <p><strong>Descriptions:</strong> {{descriptions}}</p>
        <p>
            <strong>Images:</strong> {{images}} (<a href="/~{{fields.username}}/images">list</a>)
            {{#if is_owner}}
                <span><a href="/image/create/">+ Add image</a></span>
            {{/if}}
        </p>
        <p><strong>Locations (as owner):</strong> {{locations}}</p>
        <hr />
        {{#if is_owner}}
            <p class="addLink"><a href="/~{{fields.username}}/edit/">Edit info</a></p>
        {{/if}}
        <p class="small">Permalink: <a href="http://c.o-f.co/~{{fields.username}}">http://c.o-f.co/~{{fields.username}}</a></p>
    </div>
    <div class="wrapper">
        <h3>Characters</h3>
        {{#each characters}}
            <p>
                <a class="push" href="/character/{{this.id}}">{{this.name}}</a>
                {{#if ../is_owner}}
                    <a href="/character/{{this.id}}/delete">[X]</a>
                {{/if}}
            </p>
        {{/each}}
        <hr/>
        {{#if is_owner}}
            <p class="addLink"><a href="javascript:void(0)" onclick="$('#addCharacter').toggle()">+ Add Character</a></p>
            <form method="post" action="/character/create/" id="addCharacter" style="display: none">
                <div class="ntn"></div>
                <table>
                    <tr>
                        <th><label for="name">Character name:</label></th>
                        <td><input type="text" name="name" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Create character" /></td>
                    </tr>
                </table>
            </form>
        {{/if}}
    </div>
</div>
<div id="imagesForItem"></div>
